body {
    background-color: grey;
    background-image: url("pozadina.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  header {
    background-color: transparent;
    margin-left: 100px;
    margin-right: 100px;
  }

  div {
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 100px;
    margin-right: 100px;
  }

  p {
    margin-left: 50px;
    margin-right: 50px;
  }

  a {
    margin-left: 50px;
    margin-right: 50px;
  }




  button {
    color: white;
    background-color: red;
    border: 0px;
    padding: 10px;
  }


  button:hover {
    color: yellow;
    background-color: blue;
  }

  p.naslov {
    color: white;
    font-size: 30px;
    text-align: center;
    font-family: Arial;
  }


  p.futer {
    color: white;
    text-align: center;
    font-family: Arial;
  }

.dugme {
  display: block;
  color: white;
  background-image: url("dugme.png");
  background-repeat: no-repeat;
  background-size: 120px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

table, th, tr, td {
  border: 0px solid black;
  border-collapse: collapse;
  padding: 0px;
}


img {
  height: 100px;
}

img:hover {
  height: 100px;
  animation-name: galerija;
  animation-duration: 3s;
}

@keyframes galerija {
  from {
    height: 100px;
    opacity: 1.0;
  }
  to {
    height: 200px;
    opacity: 0.2;
  }
}